# =========================
# Build / Maven
# =========================
target/
# mantenha o wrapper no repo
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# =========================
# H2 Database (arquivo)
# =========================
data/
*.h2.db
*.mv.db
*.trace.db

# =========================
# IDEs
# =========================
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Spring Tool Suite / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# SO
# =========================
.DS_Store
Thumbs.db

# (opcional) ajuda local não precisa ir pro repo
HELP.md
